.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .calories {
    color: grey;
    font-size: 18px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;  
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
  .card .left {
      float: left;
  }
  
  .card .name {
    color: brown;
    font-size: 24px;
  }
button{
    background-color: #000;
}
.neww{
    background-color: rgb(255, 255, 255);
}
.textbtn{
color: pink;
text-decoration: none;
}
.images{
  width: 200px;
  height: 300px;
}