@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:wght@600&family=Bebas+Neue&family=Josefin+Sans:ital@1&family=Kanit:wght@600;900&family=Mouse+Memoirs&family=PT+Sans&family=Quicksand:wght@500&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Kanit:wght@600;900&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Kanit:wght@600;900&family=PT+Sans&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital@1&family=Kanit:wght@600;900&family=PT+Sans&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Bebas+Neue&family=Josefin+Sans:ital@1&family=Kanit:wght@600;900&family=PT+Sans&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Bebas+Neue&family=Josefin+Sans:ital@1&family=Kanit:wght@600;900&family=PT+Sans&family=Quicksand:wght@500&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Bebas+Neue&family=Josefin+Sans:ital@1&family=Kanit:wght@600;900&family=Mouse+Memoirs&family=PT+Sans&family=Quicksand:wght@500&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:wght@600&family=Bebas+Neue&family=Josefin+Sans:ital@1&family=Kanit:wght@600;900&family=Mouse+Memoirs&family=PT+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@500&family=Roboto:wght@700&display=swap');


@viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}
body {
    margin: 0;
    padding: 0 ;
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
}
.newbody {
    margin: 0;
    padding: 0 ;
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
}

.navigationbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: centre ;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.titlemovies {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    height: auto;
    background-color: white;
    margin-bottom: 20px;
    text-align: left;

}

.searchbarmain {
    justify-content: center;
    display: flex;
    width: auto;
    height: auto;
    background-color: rgb(105, 27, 105);
    margin-bottom: 20px;
    text-align: left;
    padding: 5px 5px 5px 5px;
}

.searchtitlemain {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.searchtitlemain:hover {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.searchbuttonindex {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    width: max-content;
    display: flex;
}

.searchbtntext {
    font-size: 1.5rem;
    font-weight: 10;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    position: relative;

}

.titletext {
    color: #000000;
    font-family: 'Poppins', 'sans-serif';
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}



.moviesz {
    width: 250px;
    height: 350px;
    margin-bottom: 20px;
    border-radius: 10px;

}





/* Main Content */
/* Column A*/
.row-one {
    display: flex;
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}

.columnmain {
    width: 94%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    column-gap: 10px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border-radius: 10px;

}

.titlesofcolumms {
    height: 50px;
    background-color: white;
    font-size: 20px;
    font-family: 'Poppins', 'sans-serif';
    text-align: left;
    width: 87%;
    margin-left: 6.5%;
    margin-right: 6.5%;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 20px;
    font-weight: 500;
    color: black;
    margin-top: 100px;
    margin-bottom: 20px;
}
.titlesofcolumms1 {
    height: 50px;
    background-color: white;
    font-size: 20px;
    font-family: 'Poppins', 'sans-serif';
    text-align: left;
    width: 87%;
    margin-left: 6.5%;
    margin-right: 6.5%;
    border-radius: 5px;
    padding-top:13.5px;
    padding-left: 20px;
    font-weight: 500;
    color: black;
    margin-top: 50px;
    margin-bottom: 20px;
}
.columnmain::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.movienamediv {
    height: 65px;
    padding-bottom: 10px;
}

.moviediv {
    width: 200px;
    height: 100%;

}

.leftbutton {
    width: 2.5%;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 10px;
}


.rightbutton {
    width: 2.5%;
    margin-right: 2.5%;
    background-color: white;
    border-radius: 10px;
}


.imagemain {
    width: 200px;
    height: 300px;
    text-decoration: none;
}

.imagemain:hover {
    width: 200px;
    height: 300px;
    text-decoration: none;
}

.hrefmain {
    color: white;
    text-decoration: none;
}

.hrefmain:hover {
    color: white;
    text-decoration: none;
}



.movienamemain {
    font-size: 17px;
    margin-top: 10px;
    font-family: 'Poppins', 'sans-serif';
    color: white;

}


.moviedetailsmain {
    font-size: 15px;
    color: white;
    margin-top: 5px;
    font-family: 'Poppins', 'sans-serif';
}





::marker {
    unicode-bidi: none;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
    color: transparent;
}

.empty {
    display: none;
}



/* Screen Max 500PX */
@media only screen and (max-width:600px) {
    .row-one {
        display: flex;
        width: 99.5%;
        margin-left: 0.25%;
        margin-right: 0.25%;
        align-items: center;
    }

    .columnmain {
        width: 100%;
        height: 100%;
        display: flex;
        overflow-x: auto;
        column-gap: 10px;
        border-radius: 5px;
        padding-top: 10px;
    }

    .titlesofcolumms {
        display: flex;
        align-items: center;
        padding-bottom: 10px;

    }
    .titlesofcolumms {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        margin-top: 40px;
    }
    .columnmain::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    .movienamediv {
        height: 65px;
        padding-bottom: 10px;
    }

    .moviediv {
        width: 150px;
        height: 100%;

    }

    .leftbutton {
        /* display: none; */
        width: 40PX;
        height: 40px;
        border: 3px solid white;
        background-color: white;
    }


    .rightbutton {
        /* display: none; */
        width: 40PX;
        height: 40px;
        border: 3px solid white;
        background-color: white;
    }


    .imagemain {
        width: 150px;
        height: 200px;
        text-decoration: none;
    }

    .imagemain:hover {
        width: 150px;
        height: 200px;
        text-decoration: none;
    }

    .hrefmain {
        color: white;
        text-decoration: none;
    }

    .hrefmain:hover {
        color: white;
        text-decoration: none;
    }



    .movienamemain {
        font-size: 17px;
        margin-top: 10px;
        font-family: 'Poppins', 'sans-serif';
        color: white;

    }


    .moviedetailsmain {
        font-size: 15px;
        color: white;
        margin-top: 5px;
        font-family: 'Poppins', 'sans-serif';
    }
}

/* Screen Max 500PX */





/* Screen Min 751PX Max 1500PX */
@media only screen and (min-width:600px) and (max-width:2000px) {
    .row-one {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 0%;
        margin-right: 0%;
    }

    .columnmain {
        width: 100%;
        height: 100%;
        display: flex;
        overflow-x: auto;
        column-gap: 10px;
        border-radius: 5px;
    }

    .titlesofcolumms {
        display: flex;
        align-items: center;
        padding-bottom: 10px;

    }
    .titlesofcolumms {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        margin-top: 40px;

    }
    .columnmain::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    .movienamediv {
        height: 65px;
        padding-bottom: 10px;
    }

    .moviediv {
        width: 200px;
        height: 100%;
        padding: 5px 5px 5px 5px;

    }

    .leftbutton {
        width: 50PX;
        height: 50px;
        border: 5px solid white;
        background-color: white;
    }


    .rightbutton {
        width: 50PX;
        height: 50px;
        border: 5px solid white;
        background-color: white;
    }


    .imagemain {
        width: 200px;
        height: 300px;
        text-decoration: none;
    }

    .imagemain:hover {
        width: 200px;
        height: 300px;
        text-decoration: none;
    }

    .hrefmain {
        color: white;
        text-decoration: none;
    }

    .hrefmain:hover {
        color: white;
        text-decoration: none;
    }



    .movienamemain {
        font-size: 17px;
        margin-top: 10px;
        font-family: 'Poppins', 'sans-serif';
        color: white;

    }


    .moviedetailsmain {
        font-size: 15px;
        color: white;
        margin-top: 5px;
        font-family: 'Poppins', 'sans-serif';
    }
}

/* Screen Min 751PX Max 1500PX */
































/* Movie Download Page */
.moviedownloadinfo {
    background-color: rgb(255, 255, 255);
    width: 1fr;
    height: 100%;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-right: 3%;
    margin-left: 10%;
    padding-left: 7%;
    padding-right: 7%;
}

.titletexts {
    color: #000000;
    font-family: 'Poppins', 'sans-serif';
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.downloadinfoheading {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: rgb(255, 255, 255);
    color: #ffffff;
    font-size: 17px;
    margin-top: 0px;
    font-family: sans-serif;


}

.screenshotimage{
    width: 100%;
    border: 4px solid rgb(58, 58, 58);
    margin-top: -5px;
}
.contentholder {
    width: 70%;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1.15fr 0.65fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    grid-template-areas: "  title title";
    margin-left: 15%;
    margin-right: 15%;
}

.imgdownloadpage {
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 50px;

}

.infotext {
    text-align: center;
    font-size: 20px;

    padding-bottom: 2px;
    font-family: sans-serif;
}



.navbar-downloadpage {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 0px;
    height: 75px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    display: flex;
}




.textbtndnld {
    font-size: 100%;
    height: max-content;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.buttonsdownload {
    width: 1fr;
    height: 100%;
    margin-left: 10%;
    margin-right: 3%;
    background-color: #ffffff;
}

.buttontextinfo {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    width: 60%;
    height: max-content;
    margin-left: 20%;
    margin-right: 20%;
    display: block;
    margin-top: 40px;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
}

.textinfo {
    background-color: white;
    width: 0.65fr;
    margin-right: 5%;
    height: match-parent;
    padding-top: 50px;

}


.title {
    width: 1fr;
    height: 1fr;
    grid-area: title;
}

.textinfos {
    background-color: white;
    width: 1fr;
    height: 2fr;
    margin-top: 0px;
    margin-right: 5%;
}

.download-page-button-text {
    text-decoration: none;
    Font-size: 20px;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
    padding: 5px 5px 5px 5px;
}

.button-download-page {
    background-color: rgb(0, 0, 0);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: max-content;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid transparent;
    padding: 5px 5px 5px 5px;
}

@media only screen and (max-width:800px) {
    .contentholder {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "title";
        border-radius: 0px;
        background-color: #000000;
        margin-left: 5%;
        margin-right: 5%;
    }

    .textinfo {
        background-color: #ffffff;
        width: 1fr;
        height: 2fr;
        margin-top: 0px;
        margin-right: 0%;
        border-radius: 0px;
    }

    .imgdownloadpage {
        width: 100%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px;
        border: 3px solid rgb(0, 0, 0);
        border-radius: 10px;

    }

    .titletexts {
        color: #000000;
        font-family: 'Poppins', 'sans-serif';
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .infotext {
        text-align: center;
        font-size: 17px;
        padding-left: 2%;
        border-radius: 0px;
        padding-right: 2%;
        padding-bottom: 2px;
        font-family: 'Poppins' sans-serif;
        font-weight: 550;
    }

    .textinfos {
        background-color: white;
        width: 1fr;
        height: 2fr;
        margin-top: 0px;
        border-radius: 0px;
        margin-right: 0%;
    }

    .buttonsdownload {
        width: 1fr;
        border-radius: 0px;
        height: 100%;
        background-color: #ffffff;
        margin-left: 0%;
        margin-right: 0%;
    }

    .moviedownloadinfo {
        background-color: rgb(255, 255, 255);
        width: 1fr;
        height: 100%;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-right: 0;
        margin-left: 0;
    }

    .download-page-button-text {
        text-decoration: none;
        Font-size: 17px;
        color: white;
        font-weight: 500;
        font-family: sans-serif;
        padding: 5px 5px 5px 5px;
    }
    .button-download-page {
        background-color: rgb(0, 0, 0);
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: max-content;
        border-radius: 5px;
        margin-top: 10px;
        border: 1px solid transparent;
        padding: 5px 5px 5px 5px;
    }
}


/* Movie Download Page */





#data {
    color: white;
}

















































/* Search Bar */





#columnsearch {
    margin-top: 50px;
    width: 80%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(6, 15%);
    column-gap: 1%;
    height: 100%;
    justify-content: center;
    margin-top: 30px;
}

.moviecontainersearch {
    width: 100%;
    text-align: center;

}

.linksearch {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-family: 'Poppins' sans-serif;
    width: 100%;
}

.new {
    color: auto;
}

.linksearch:hover {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-family: 'Poppins' sans-serif;
    width: 100%;
}

.movieimagesearchbar {
    width: 100%;
    line-height: 380px;

}

.moviegenressearchbar {
    text-decoration: none;
    font-weight: 500;
    font-family: 'Poppins', 'sans-serif';
    text-align: left;
    font-size: 15px;
    margin-top: -5px;
    font-weight: 500;
    padding-left: 10px;

}

.titlesearch {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', 'sans-serif';
    text-align: left;
    padding-left: 10px;
    margin-top: 7px;
}

.searchbarsearch {
    width: 80%;
    height: 60px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 35px;
    border-radius: 15px;
    border: 2px solid black;
    align-items: center;
}

.searchbarsearch:focus {
    width: 80%;
    height: 60px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 35px;
    border-radius: 15px;
    align-items: center;
}

.searchbarsearch::placeholder {
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.navbarsearch {
    background-color: white;
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}

.btnsearchpage {
    height: fit-content;
    margin-top: 20px;
    background-color: #ff2c1f;
    border: 1px solid transparent;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    text-decoration: none;
}
.btnsearchpage:hover {
    height: fit-content;
    margin-top: 20px;
    background-color: #ff2c1f;
    border: 1px solid transparent;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;

}

.a-btn-search {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}

.a-btn-search:hover {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}

.logomain {
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.logosearchpage {
    height: 70px;
    margin-top: -20px;
}











@media only screen and (min-width: 501px) and (max-width: 1000px) {
    #columnsearch {
        margin-top: 50px;
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        height: 100%;
        row-gap: 10px;
        justify-content: center;
        margin-top: 30px;
    }

    .moviecontainersearch {
        width: 100%;
        text-align: center;

    }

    .linksearch {
        font-size: 20px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        width: 100%;
    }

    .linksearch:hover {
        font-size: 20px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        width: 100%;
    }

    .movieimagesearchbar {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }

    .moviegenressearchbar {
        text-decoration: none;
        font-weight: 500;
        font-family: 'Poppins', 'sans-serif';
        text-align: left;
        font-size: 10px;
        margin-top: -5px;
        font-weight: 500;
        padding-left: 10px;

    }

    .titlesearch {
        font-size: 15px;
        font-weight: 500;
        font-family: 'Poppins', 'sans-serif';
        text-align: left;
        padding-left: 10px;
        margin-top: 7px;
    }

    .logomain {
        font-size: 2em;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        color: black;
        margin-top: 0px;
        margin-bottom: 0;
    }
}









@media screen and (min-width:100px) and (max-width: 500px) {
    #columnsearch {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 40%);
        height: 100%;
        justify-content: center;
        margin-top: 0px;
        row-gap: 10px;
        column-gap: 1%;
    }

    .moviecontainersearch {
        width: 100%;
        text-align: center;

    }

    .linksearch {
        font-size: 15px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        width: 100%;
    }

    .linksearch:hover {
        font-size: 20px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        width: 100%;
    }

    .movieimagesearchbar {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }

    .moviegenressearchbar {
        text-decoration: none;
        font-weight: 500;
        font-family: 'Poppins', 'sans-serif';
        text-align: left;
        font-size: 10px;
        margin-top: -5px;
        font-weight: 500;
        padding-left: 10px;

    }

    .titlesearch {
        font-size: 15px;
        font-weight: 500;
        font-family: 'Poppins', 'sans-serif';
        text-align: left;
        padding-left: 10px;
        margin-top: 7px;
    }

    .logomain {
        font-size: 1.2em;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        color: black;
        margin-top: 0;
        margin-bottom: 0 ;
    }

    .logosearchpage {
        height: 40px;
    }

    .btnsearchpage {
        height: fit-content;
        margin-top: 20px;
        background-color: #ff2c1f;
        border: 1px solid transparent;
        padding: 10px 15px 10px 15px;
        border-radius: 10px;

    }

    .a-btn-search {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 15px;
    }

    .a-btn-search:hover {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 15px;
        text-decoration: none;
    }
}












@media only screen and (min-width: 1000px) and (max-width: 1100px) {
    #columnsearch {
        margin-top: 50px;
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        display: grid;
        grid-template-columns: repeat(4, 20%);
        height: 100%;
        justify-content: center;
        margin-top: 30px;
    }

    .moviecontainersearch {
        width: 100%;
        text-align: center;

    }

    .linksearch {
        font-size: 20px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        width: 100%;
    }

    .linksearch:hover {
        font-size: 20px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        width: 100%;
    }

    .movieimagesearchbar {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }

    .moviegenressearchbar {
        text-decoration: none;
        font-weight: 500;
        font-family: 'Poppins', 'sans-serif';
        text-align: left;
        font-size: 15px;
        margin-top: -5px;
        font-weight: 500;
        padding-left: 10px;

    }

    .titlesearch {
        font-size: 20px;
        font-weight: 500;
        font-family: 'Poppins', 'sans-serif';
        text-align: left;
        padding-left: 10px;
        margin-top: 7px;
    }
}
